ENV=dev

BASE_URL=http://localhost:4000

PROXIES=0

POSTGRES_USER=server
POSTGRES_PASSWORD=change-me
POSTGRES_DB=server-db

RESEND_API_KEY=
RESEND_SENDER=onboarding@resend.dev

EARLY_ACCESS_SEATS=100

DOMAIN=
ACME_EMAIL=
