POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ENV=prod
BASE_URL=https://viewmpp.com
PROXIES=1
SECRET_KEY=

DOMAIN=viewmpp.com
ACME_EMAIL=support@viewmpp.com

RESEND_API_KEY=
RESEND_SENDER=noreply@viewmpp.com

EARLY_ACCESS_SEATS=100