ENV=prod

BASE_URL=https://viewmpp.com

PROXIES=1

POSTGRES_USER=server
POSTGRES_PASSWORD=change-me
POSTGRES_DB=server-db

RESEND_API_KEY=
RESEND_SENDER=noreply@viewmpp.com

EARLY_ACCESS_SEATS=100

DOMAIN=viewmpp.com
ACME_EMAIL=admin@viewmpp.com
