[Unit]
Description=MPP Viewer web server

After=network-online.target postgresql.service parser.service
Wants=network-online.target
Requires=parser.service

StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=mppviewer
Group=mppviewer

EnvironmentFile=/etc/mppviewer.env

WorkingDirectory=/home/mppviewer
ExecStart=/home/mppviewer/api

Restart=on-failure
RestartSec=5

TimeoutStopSec=40

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
RestrictNamespaces=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
